* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
}

.imageContainer {
  display: flex;
  flex-direction: row;
}

.image {
  height: 200px;
  width: 200px;
}
